*
{
    margin:0;
    padding: 0;
}
body
{
    font-family: 'Open Sans', sans-serif;
    min-width: 100%;
}
.fas , .far , .fab
{
    display: block;
    padding: 10px;
}
.container
{
    margin: auto;
}
.head
{
   /* background: linear-gradient(45deg, #eee3ba, #C5DDE8);*/
    background: linear-gradient(60deg, rgb(173 13 13 / 78%), rgb(179 184 189 / 65%)), rgb(23 21 19 / 65%) url(img/2.jpg) center center/cover no-repeat scroll /*linear-gradient(60deg, rgba(96, 255, 167, 0.665), rgba(0, 132, 255, 0.65)), rgba(255, 205, 96, 0.65) url(img/2.jpg) center center/cover no-repeat scroll*/;
    padding-bottom: 30px;
    color: #777;
    background-attachment:fixed ;
    
    
}
header .up
{
    padding: 6px 50px 0px 50px;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight:  400;
    display:flex;
	justify-content:space-between;
    align-items:center;
    margin-bottom:100px;
    box-shadow: rgba(17, 17, 17, 0.357) 0px 3px 6px;
}
.logo
{
    width: 25px;
    height: 50px;
    margin: -3px 0 0 -10px;
}
.menu-list
{
	list-style:none;
	display:flex;
}
.menu-list__link
{
  
    font-size: 14px;
    text-decoration:none;
    padding: 15px;
    color: #707070;
    transition: 0.6s;
    display: inline-block;
}
.line
{
    width: 0%;
    height: 2px;
    background-color: #777;
    transition: 0.6s;
}

.menu-list__item:hover .line 
{
    width: 100%;
}

.down
{
    text-align: center;
}
.down .title
{
    font-family: 'Open Sans', sans-serif;
    font-size:44px;
    font-weight:500 ;
    text-transform: uppercase;
    color:#fff;
    padding:24px 0;
}
.down .wtitle
{
    font-family: 'Open Sans', sans-serif;
    font-size:44px;
    font-weight:700 ;
    text-transform: uppercase;
    color:#fcac45;
}
.down .description
{
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    color: #fff;
}
.down .bottom
{
    display: block;
    color:#fff;
    display: block;
    font-size: 20px;
    margin: 120px auto ;
    margin-bottom: 0px;
    justify-content:center;
    text-decoration: none;
}
.bottom_arow
{
    display: block;
    color:#fff;
    display: block;
    font-size: 20px;
    margin: 20px auto;
    margin-bottom: 100px;
    justify-content:center;
    text-decoration: none;

}
.down .bottom .wbi
{
    display: block;
    margin: 5px auto;
}
.bm
{
    display: none;   
}
.sidepanel  {
    width: 0%;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    right:0;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #1f1f1f;
    display: block;
    transition: 0.2s;
  }
  
  
  .sidepanel .closebtn {
    position: absolute;
    padding: 12px 0;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .closebtn:hover {
    color: rgb(158 49 49 / 86%);
  }

  .sidepanel .bnav:hover {
    background: rgb(158 49 49 / 86%);
    color: #fff;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #fff;
    color: #111;
    padding: 10px;
    border: none;
    height:50px;
    width:50px;
    top: 35px;
  }
  .openbtn:focus
  {
     outline: none;
  }
  .openbtn:hover {
    font-size: 16px;
  }

  .burger
  {
    height:2px;
    background-color:#111;
    position:relative;
  }
  .burger::before
  {
    content:"";
    display:block;
    position:absolute;
    top:7px;
    width:30px;
    height:2px;
    background-color:#111;
  }
  .burger::after
  {
    content:"";
    display:block;
    position:absolute;
    bottom:7px;
    width:30px;
    height:2px;
    background-color:#111;
  }
/*work*/
.work 
{
    text-align: center;

    padding: 50px 0 50px 0;
    box-shadow: rgba(17, 17, 17, 0.357) 0px -4px 6px;
}
.work .up .title
{
    color: #212121;
    text-transform: uppercase;
    font-size: 32px ;
    font-weight: 600;
}
.work .up .description
{
    margin: 10px 0 10px 0;
    font-size: 13px;
    font-style: italic;
}
.work .down
{
    
    display: flex;
    margin: 50px 0 0 0 ;
    text-align: left;
}
.work .down .work_block
{
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    float: left;
    
}
.work .down .work_block .icon
{
    color: rgba(163, 96, 255, 0.65);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 50px;
    border: 2px solid rgba(163, 96, 255, 0.65);
    transition: 0.5s;
    
}
.work .down .work_block:hover .icon
{
    border-radius: 100%;
}
.work .down .info .title
{
    color: #454545;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
}
.work .down .info
{
    padding: 0 0 0 10px;
    max-width: 274px;
    height: auto;
}
.work .down .info .description
{
   
    color: #707070;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 20px;
}
/*static*/
.stastic
{
    background: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.62)), #1f1f1f url(img/1.jpg) center center/cover no-repeat scroll;
}
.stastic .st_block
{
    display: flex;
    color: #fff;
    text-align: center;
    
}
.stastic .static-block
{
    padding: 40px 30px;
   width: 100%;
   transition: 0.5s;
}

.stastic .static-block:hover
{
   /* background: linear-gradient(60deg, rgba(96, 255, 167, 0.665) , rgba(0, 132, 255, 0.654)), rgba(255, 205, 96, -0.35)*/
  /*  background: linear-gradient(60deg, rgba(96, 255, 167, 0.665) , rgba(0, 132, 255, 0.65)), rgba(255, 205, 96, 0.65);*/
  background: linear-gradient(60deg, rgb(173 13 13 / 78%), rgb(179 184 189 / 65%)), rgb(23 21 19 / 65%);
}
.stastic .st_count
{
    font-size: 40px;
    font-weight: 700;

}
.stastic .st_title
{
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0 15px 0;
    line-height: 1.1;
}
.stastic .st_description
{
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px 0;
    line-height: 1.8;
}




/*why*/
.why_block
{
    background:#f5f5f5;
    display: flex;
}
.why_left
{
    min-width: 50%;
    background: linear-gradient(60deg, rgb(173 13 13 / 78%), rgb(179 184 189 / 65%)), rgb(23 21 19 / 65%) url(img/3.jpg) center center/cover no-repeat scroll;
}
.why_right
{
    max-width: 50%;
    padding: 50px;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 600;
    color: #404040;
}
.why__first
{
    margin: 0 0 10px 0;
}
.wf_title
{
    font-size: 30px;
    font-weight: 700;
    color: #39434A;
    margin: 0 0 10px 0;
}
.why__second , .why__third
{
    display: block;
    margin: 0 0 15px 0; 
}
.why_description
{
    
   margin: 0 15px 0 0;
}

/* project*/
.project_block
{
    text-align: center;
    color: #fff;
    padding: 60px 0 ;
    background:  linear-gradient(60deg, rgb(173 13 13 / 78%), rgb(179 184 189 / 65%)), rgb(23 21 19 / 65%) url(img/4.jpg) center center/cover no-repeat scroll; 

}
.project_title
{
    font-size: 40px;
    margin: 0 0 10px 0;
    font-weight: 700;
    text-transform: uppercase;
}
.project_description
{
    padding: 25px 0 35px 0 ;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
}
.projetc_nav
{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 29px 29px 29px 29px;
    padding: 5px 30px 5px 30px;
    transition: 0.6s;
}

.projetc_nav:hover
{
    background: #fff;
    color:rgba(96, 255, 167, 0.665) ;
}

/* with_us*/

.with_us__block
{
    display: flex;
    color: #39434a;
    
    background: #f5f5f5 ;
}
.wu_title
{
    font-size: 30px;
    font-weight: 800;
    text-align: left;
    line-height: 1.1;
    margin-top: 0px;
    margin-bottom: 10px;
}
.wu_description
{
    font-size: 16px;
    margin: 0 0 10px;
    line-height: 1.6;
}
.wu_left
{
    max-width: 50%;
    padding: 70px 50px; 
}

.wu_right
{
    
    min-width: 50%;  
    background: linear-gradient(60deg, rgb(173 13 13 / 78%), rgb(179 184 189 / 65%)), rgb(23 21 19 / 65%) url(img/5.jpg) center center/cover no-repeat scroll;  
}
/*task*/

.task
{
    background: #f5f5f5 ;
    text-align: center;
}
.task_title
{
    color: #242424;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 50px 0;
}
.task_block
{
    padding: 40px 0;
    display: flex;
}
.task_target
{
    display: block;
    color: #454545;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 auto  ;
    padding: 0 15px;
    max-width: 250px;

}

/*footer*/
.footer_block
{
    display: flex;
    background: linear-gradient(60deg, rgb(179 15 15 / 91%), rgb(179 184 189 / 65%)), rgb(23 21 19 / 65%) url(img/footer.jpeg) center center/cover no-repeat scroll; 
    padding: 60px 40px;
    color: #fff;
}

.info_nav
{
    padding: 0 15px;
    text-align: center;
    max-width: 50%;
}
.info_title
{
    margin: 20px 0 30px;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
}
.info_decription
{
    margin: 10px 0 30px 0;
    font-size: 13px;
    text-align: left;
}
.info_button
{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 29px 29px 29px 29px;
    padding: 5px 30px 5px 30px;
    margin-top: 9px;
    transition: 0.6s;
}
.info_button:hover
{
    background: #fff;
    color: brown;
}

.nav_icons
{
    display: flex;
}
.nav_links
{
    display: block;
    border: 1px solid #ffffff;
    color: #fff;
    margin: 15px 5px;
    border-radius: 25px 25px 25px 25px;
    transition: 0.6s;
    
}

.nav_links:hover
{
    background: #fff;
    color: brown;
}

.info_links
{
    max-width: 25%;
    
    margin: 0 0 0 15px;
}
.link_items
{
    display: block;
    color: #fff;
    text-decoration: none;
    font-style: italic;
    font-size: 15px;
    padding: 10px 0 ;
    font-weight: 700;
}

.info_contacts
{
    max-width: 25%;
    margin: 0 0 0 15px;
}

.contacts_items
{
    font-size: 15px;
    font-weight: 300;
    margin:  0 0 15px 0;
    padding: 8px 0 0 0;
}


/*ABOUT US*/

.about_us
{
    background: #fff;
}
.about_us .up
{
    margin-bottom: 0;
}
.aboutus_block
{
    color: rgb(71, 67, 67);
    padding: 10px 20px;
    margin:  15px 0;
    display: grid;
}
.aboutus_title
{
    font-size: 30px;
    color: #404040;
    font-weight: 600;
    line-height: 1.1;
}
.aboutus_description
{
    
    color: #404040;
    font-weight: 400;
    line-height: 1.8;
    font-size: 16px;
    
}
.aboutus_target
{
    color: #404040;
    font-weight: 400;
    line-height: 1.8;
    font-size: 16px;
    text-transform: uppercase;
}


/*SERVICES */

.sercives .up
{
    margin-bottom: 0;
}

.services_block
{
    padding: 10px 20px;
    margin:  15px 0;
    
    font-weight: 400;
    line-height: 1.8;
    font-size: 16px;
    color: #404040;
}

/*our_partners*/

.our_partners .up
{
    margin-bottom: 0;
}

.partners_title
{
    margin: 20px 0;
    text-align: center;
    padding-bottom: 9px;
    border-bottom: 1px solid #eeeeee;
}

.partners_description
{
    color: #404040;
    font-weight: 400;
    line-height: 1.8;
    font-size: 16px;
    margin: 10px 10px;
}
.our_partners__box
{
    display: flex;
    color:#404040
}

.partners_block
{
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    text-align: center;
}

.partners_img
{
    max-width: 100%;
    display: inline-block;
    background-image:url(https://miyesser.com/wp-content/uploads/2020/11/DUNYA-TILSIMATLARY-LOGOBOOK-25.png);
}

.partners_block_title
{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}
.partners_block_description
{
    font-size: 16px;
    line-height: 1.3;
}
.partners_blocknav
{
    display: block;
    text-decoration: none;
    font-size: 14px;
    background-color: #1E73BE;
    color: #ffffff;
    padding: 15px;
    font-weight: 700;
    margin: 20px 0 0 0 ;
}


/*contacts*/
.contacts_block
{
    padding: 0 20px;
}
.contacts .up
{
    margin-bottom: 0;
}

.contacts_block_title
{
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.map
{
   text-align: center;
   padding: 15px 0;
}
.map_text
{
    padding: 15px;
}
.map_description
{
    color: #404040;
    font-weight: 400;
    line-height: 1.8;
    font-size: 14px;
}
.form_title
{
    text-align: center;
}
form
{
    
    text-align: center;
}
.form
{
	display:flex;
    margin: auto;
	padding:25px 40px;
	
	
}
.block-title_1
{
    display: block;
	text-align:left;
	width: 46%;
	height:30px;
    padding: 0 10px;
	border-radius:3px;
    margin: auto;
	border:1px solid #707070;
	color:#111;

}
.block-title_2
{
    display: block;
	text-align:left;
	width: 46%;
    padding: 0 10px;
	height:30px;
    margin: auto;
	border-radius:3px;
	border:1px solid #707070;
	color:#111;
}
 .block-title_3
{
    display: block;
	text-align:left;
	width: 87%;
	height:200px;
	padding: 10px;
    margin: auto;
	padding-bottom:160px;
	border-radius:3px;
	border:1px solid #707070;
	color:#111;

}

 

 .btn
{
    display: block;
	border:none;
	font-weight:600;
	display:inline-block;
	text-transform:uppercase;
	background:#30bae7;
	padding: 10px 30px;
	text-decoration:none;
	color:#fff;
	margin: 20px auto;
	border-radius:4px;
	box-shadow:0px 4px #299ec5;
	
	
}
.btn:active
{
	
	box-shadow:0px 1px #299ec5;
	transform:translateY(5px);
	
}



















@media screen and (max-width: 768px) 
{
    .menu
    {
        display:none;
    }
    .bm
    {
        display: block;
    }
    header .up
    {
        margin-bottom: 85px;
    }
    header .down
    {
        margin-top: 50px;
    }
    .stastic .st_block
    {
        display: block;
    }
    .static-block
    {
        max-width: fit-content;
    }
        
    .our_partners__box
    {
        display: block;
    }
}


@media screen and (max-width: 660px)
{
   
    .why_left
    {
        min-width: 20%;
    }
    .why_right
    {
        max-width: 80%;
        padding: 35px;
    }
    .wu_right
    {
        align-items: right;
        min-width: 20%;   
    }
    .wu_left
    {
        max-width: 80%;
        padding: 35px;
    }
    .task_block
    {
       padding: 25px 0;
    }
    .task_target
    {
        font-size: 15px;
    }
    .form
    {
        display: block;
        padding: 25px 30px 0 30px;
    }
        
    .block-title_1 , .block-title_2
    {
        width: 87%;
        margin: 10px 0;
    }

}




@media screen and (max-width: 580px)
{
    
    .task_target
    {
        font-size: 10px;
    }
    .work .down
    {
        display: inline-block;
    } 
    .footer_block
    {
        display: inline-block;
    }
    .info_nav
    {
        max-width: 100%;
    }
    .info_links
    {
        max-width: 100%;
    }
    .info_contacts
    {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px)
{
    .work .down
    {
        display: inline-block;
    }   
    .task_block {
        display: inline-block;
    }
    .task_title
    {
        padding: 15px 0;
    }
    
    header .up 
    {
        padding: 6px 30px 0px 30px;
    }
    .footer_block
    {
        display: inline-block;
    }
    .info_nav
    {
        max-width: 100%;
    }
    .info_links
    {
        max-width: 100%;
    }
    .info_contacts
    {
        max-width: 100%;
    }
    
    .project_title
    {
        font-size: 30px;
    }
}
@media screen and (max-width: 380px)
{
    .why_left
    {
        min-width: 0;
    }
    .why_right
    {
        width: 100%;
        padding: 20px;
    }
    .wu_right
    {
        
        min-width: 0;   
    }
    .wu_left
    {
        max-width: 100%;
        padding: 20px;
    }
}